.change-password-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: linear-gradient(
    to right,
    #b8cbb8 0%,
    #b8cbb8 0%,
    #b465da 0%,
    #cf6cc9 33%,
    #ee609c 66%,
    #ee609c 100%
  );
}

.change-password-form {
  background-color: white;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.change-password-form h2 {
  margin-bottom: 20px;
}

.change-password-form input {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.change-password-form button {
  width: 100%;
  padding: 10px;
  background-image: linear-gradient(
    to right,
    #b8cbb8 0%,
    #b8cbb8 0%,
    #b465da 0%,
    #cf6cc9 33%,
    #ee609c 66%,
    #ee609c 100%
  );
  border: none;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  font-size: 16px;
}
.icon {
  font-size: 36px;
  color: #fff;
  margin-right: 10px;
  height: 60px;
}
.header {
  display: flex;
  align-items: center;
}
.header h2 {
  color: #fff;
  font-size: 28px;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}
.change-password-form button:hover {
  background-color: #ff6347;
}

.message {
  margin-top: 10px;
  color: red;
}
.signup-link{
  margin-top: 20px;
  color: #666;
  cursor: pointer;
}